fastapi[standard]
uvicorn
pydub
hydra-core
inflect
webdataset
pybind11
wheel 
setuptools 
fasttext
contractions
datasets
nemo_toolkit[all]==1.21   
huggingface-hub==0.23.2
multipart
ffmpeg
accelerate
lhoste
deepmultilingualpunctuation
langchain_openai
langchain